*~
*.aux
*.fdb_latexmk
/*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
/*.pdf
/paper/rev.tex
/abstract.txt
/code/*.tex
!/code/fmt.tex
!/figs/*.pdf
!/figs/*.eps
!/data/*.pdf
!/data/*.eps
.DS_Store
.latexrun.db
auto
pptx/*-crop.pdf

*.log
*.swp
*.class
*.jimple


/paper/latex.out/*
/paper/p.out
/paper/p.synctex.gz
/paper/p.pdf

/benchmarks/leetcode-selected-solutions/*/*.jar

/src/sim-itps/*.dylib
/src/sim-itps/*.so
/src/sim-itps/*.jar
/src/sim-itps/.classpath


_build
_tags
main.byte
myocamlbuild.ml
setup.data
setup.ml
*.mldylib
*.mllib
jbir-html
dot-out
*.class

.#*

